id: subflow-ansible-configure
namespace: prod.self_service
description: Configures a VM with Ansible

inputs: 
  - id: vm_ip
    type: STRING
    description: The IP address of the VM to configure.
  - id: branch_name
    type: STRING
    description: The apllication branch to deploy.
  - id: git_repo_url
    type: STRING
    description: The github url that we are going to use.
  - id: ansible_user
    type: STRING
    defaults: "ec2-user"
    description: The ansible user that we will be using.
  - id: ansible_playbook
    type: STRING
    defaults: "playbook.yaml"
    description: The ansible playbook that we will run.

tasks:
  - id: configure_vm_tasks
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone-ansible-repo
        type: io.kestra.plugin.git.Clone
        url: "{{inputs.git_repo_url}}"
        branch: "main"
      
      - id: run-ansible
        type: io.kestra.plugin.ansible.cli.AnsibleCLI
        inputFiles:
          inventory.ini: |
            [dev-server]
            {{inputs.vm_ip}} ansible_user={{inputs.ansible_user}}
          kestra-key.pem: "{{secret('AWS_SSH_KEY_PEM')}}"
          playbook.yaml: "{{ read('playbook.yaml') }}"
        # workingDir: "ansible"
        commands:
          - chmod -chdir=ansible 600 kestra-key.pem
          - ansible-playbook -chdir=ansible -i inventory.ini {{inputs.ansible_playbook}} --private-key kestra-key.pem --extra-vars "app_branch={{inputs.branch_name}}"
